<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="macro meal recipe finder" content="macro meal recipe finder" />
  <meta name="macro meal recipe finder" content="one, two, three" />
  <title>Macro Meal Recipe Finder</title>
  <link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&family=Hedvig+Letters+Serif:opsz@12..24&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/css/main.css" />
</head>

<header>
  <header>
    <div class="flex flex-row justify-start p-4">
      <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 48 48">
        <path fill="none" stroke="#c5d419" , " stroke-linecap=" round" stroke-linejoin="round" stroke-width="4" d="M42 36V20H14v16a6 6 0 0 0 6 6h16a6 6 0 0 0 6-6ZM4 20h40M18 8v4m10-6v6m10-4v4" />
      </svg>
      <h1 class="md:text-4xl text-text font-body px-4 py-2 text-xl font-bold">Macro Meal Recipe Finder</h1>
    </div>
  </header>
</header>