<div class="md:mt-0 flex flex-row justify-center gap-4 mt-10">
  <button id="search" class="searchButton bg-accent1 font-body text-background border-accent1 hover:bg-background hover:text-accent1 px-3 py-1 text-lg font-bold text-center capitalize border-2 border-transparent rounded-md">
    Search!
  </button>
  <button id="clear" class="clearButton bg-accent1 font-body text-background border-accent1 hover:bg-background hover:text-accent1 px-3 py-1 text-lg font-bold text-center capitalize border-2 border-transparent rounded-md">
    Clear!
  </button>
</div>