  <section >
    <div class="md:flex-row flex flex-col items-center justify-around">
      <div class="md:mb-4 md:mt-20 p-4">
        <p class="font-body text-text pt-3 pb-2 text-lg font-bold leading-6 text-center">Calories</p>
        <input required="true" id="calories" type="number" class="border-text focus:outline-none focus:ring-2 focus:ring-accent2 w-full px-4 py-2 border rounded-md" placeholder="Enter max" name="calories" label="Calories" />
      </div>
      <div class="md:mb-4 md:mt-20 p-4">
        <p class="font-body text-text pt-3 pb-2 text-lg font-bold leading-6 text-center">Carbohydrates</p>
        <input required="true" id="carbs" type="number" class="border-text focus:outline-none focus:ring-2 focus:ring-accent2 w-full px-4 py-2 border rounded-md" placeholder="Enter max" name="carbs" label="Carbohydrates" />
      </div>
      <div class="md:mb-4 md:mt-20 p-4">
        <p class="font-body text-text pt-3 pb-2 text-lg font-bold leading-6 text-center">Fat</p>
        <input required="true" id="fat" type="number" class="border-text focus:outline-none focus:ring-2 focus:ring-accent2 w-full px-4 py-2 border rounded-md" placeholder="Enter max" name="fat" label="Fat" />
      </div>
      <div class="md:mb-4 md:mt-20 p-4">
        <p class="font-body text-text pt-3 pb-2 text-lg font-bold leading-6 text-center">Protein</p>
        <input required="true" id="protein" type="number" class="border-text focus:outline-none focus:ring-2 focus:ring-accent2 w-full px-4 py-2 border rounded-md" placeholder="Enter min" name="protein" label="Protein" />
      </div>
    </div>
  </section>