<body class="bg-background container mx-auto">
  <%- include('partials/header') %>
  <!-- showcase -->
  <main class="container flex flex-col w-full">
    <div class="d-flex align-items-center justify-content-center d-sm-flex flex-column h1 pt-5 pb-5 text-center">
      <h2 class="md:text-2xl font-body text-text2 md:mb-0 mt-20 mb-20 text-xl text-center">Search for recipes by macro nutrients.</h2>
    </div>
    <%- include('components/inputForm') %>
    <%- include('components/buttonContainer') %>
    <section>
      <div class="p-5">
        <p class="errorMessage text-text2 flex flex-row justify-center mt-10 text-lg font-bold text-center uppercase">
        </p>
      </div>
    </section>
    <section>
      <div class="w- flex flex-col items-center justify-center w-3/4 mx-auto">
        <div class="display flex flex-col flex-wrap items-center w-full gap-4 min-h-[400px] font-body text-text text-center text-md" id="display">
        </div>
      </div>
    </section>
  </main>
  <%- include('partials/footer') -%>
</body>

</html>