* {
  box-sizing: border-box;
}

.btn-dark {
  background-color: rgb(67, 67, 151);
  border-color: rgb(67, 67, 151);
}

.btn-dark:hover {
  background-color: rgb(73, 73, 168);
  border-color: rgb(73, 73, 168);
}

#display {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.macro-container {
  margin: 20px;
  flex: 1 0 calc(33.33% - 20px);
  justify-content: center;
  align-items: center;
}

.recipe-container {
  font-size: 16px;
  margin-bottom: 20px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.macro-image {
  padding-bottom: 20px;
  object-fit: contain;
  justify-content: center;
  align-items: center;
}

.macro-title {
  font-size: 24px;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .macro-container {
    flex-basis: 100%;
  }
}
